<!DOCTYPE html>
<html>
<head>
	<title><%= data.name %> Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.hero{
			display: flex;
			height: 225px;
			width: 80%;
			margin: auto;
			margin-top: 25px;
			font-family: cursive;
			box-shadow: 0 0 4px rgba(0,0,0,0.6);
			border-radius: 5px;
		}
		.hero > img{
			height: 225px;
			width: 225px;
			align-self: flex-end;
		}
		.hero> div{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 10px; 
		}
		.headers{
			margin-top: 100px;
			margin-bottom: 50px; 
			text-align: center;
		}
		.skilldiv{
			margin: auto;
			margin-bottom: 15px;
			width: 80%;
			padding: 10px;
			box-shadow: 0 0 3px rgba(0,0,0,0.7);

		}

		.experience > div{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		.expcard{
			width: 300px;
			margin: 15px;
			padding: 10px;
			box-shadow: 0 0 3px rgba(0,0,0,0.7);
		}

		.education > div{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 150px;
		}

		.footer{
			background-color: lightgrey;
			height: 100px;
			padding-left: 10%;
		}

		@media only screen and (max-width: 740px) {
		  .hero {
		    height: unset;
		    flex-direction: column-reverse;
		  }
		  .hero > img{
				height: unset;
				width: 100%;
			}
		}




	</style>

</head>
<body>
	<h1 class="headers"> PORTFOLIO</h1>
	<div class="hero">
		<div>
		<h2>About Me...</h2>
		<h3><%= data.about %></h3>
		</div>
		<img src="static/<%= data.imgsrc %>.jpg">		
	</div>

	<div class="skills">
		<h2 class="headers">Skills</h2>

		<% Object.keys(data.skills).forEach(function(key){ %>
		  <div class="skilldiv">
				<h3><%- key %></h3>
				<p><%- data.skills[key] %></p>
			</div>
		<% }) %>
		
	</div>

	<div class="experience">
		<h2 class="headers">Experience</h2>

		<div>
			<% Object.keys(data.experience).forEach(function(key){ %>
				<div class="expcard">
					<h3><%- key %></h3>
					<p><%- data.experience[key] %></p>
				</div>
			<% }) %>			
		</div>

		
	</div>
	
	<div class="education">
		<h2 class="headers">Education</h2>
		
		<div>
			<div class="skilldiv">
				<h3>College</h3>
				<p><%= data.college.name %></p>
				<p><%= data.college.address %></p>
				<p><%= data.college.marks %></p>
			</div>
		
			<div class="skilldiv">
				<h3>Twelth</h3>
				<p><%= data.twelth.name %></p>
				<p><%= data.twelth.address %></p>
				<p><%= data.twelth.marks %>Year</p>
			</div>
		
			<div class="skilldiv">
				<h3>Tenth</h3>
				<p><%= data.tenth.name %></p>
				<p><%= data.tenth.address %></p>
				<p><%= data.tenth.marks %>Year</p>
			</div>
		</div>
	
	</div>

	<div class="footer">
		<h2>Contact Me On ..</h2>
		<a href="<%- data.links.github %>">github</a><br>		
		<a href="<%- data.links.facebook %>">facebook</a><br>		
		<a href="<%- data.links.linkedin %>">linkedin</a><br>		
	</div>

</body>
</html>